main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;    
   font-size: 2.8rem;
   margin-top: 20%;   
}
input{
    font-size: 2rem;
    text-align: center;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    width: 58%;
}
button{
    font-size: 2rem;
    text-align: center;
    line-height: 38px;
}
.portable{
    display: none;
}
.tablet{
    display:none
}

@media screen and (max-width:719px)
{
    input{
        margin-left: 5px;
        width: 100%;
    }
    .portable{
        display: block;
    }

}

@media screen and (min-width:720px) and (max-width:1366px)
{
    .tablet{
        display:block;
    }
}